name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: cli/go.mod

      - name: Unshallow
        run: git fetch --prune --unshallow

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: "v2.13.0"
          args: release --clean
          workdir: cli
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
